{% extends 'bank/base.html' %}

{% block middle_area %}
    <h1>About</h1>
    <p>
        iMobile, the most comprehensive and secure Mobile Banking application,
        offers over 150+ banking and informational services to take care of your
        daily banking needs conveniently from your smartphone. For easier accessibility
        we have made iMobile available on Android, iOS, Windows & Blackberry.
        With over 2.5 lakh users giving the iMobile app the highest rating on Play Store,
         we have become the top-rated mobile banking app in the industry.
        Our customers are hugely benefited by its 165+ services and enjoy the
        convenience of banking on the go. Download iMobile app today and
        experience what everyone is raving about.
    </p>
    <hr>
    <h3></h3>
    <p></p>
{% endblock middle_area %}