{% extends 'bank/base.html' %}

{% block head_title %}New Bank{% endblock head_title %}

{% block style %}
    .btn{
        width: auto;
        border-radius: 0px;
    }
{% endblock style %}



{% block middle_area %}
<div class="col-sm-6 col-sm-offset-3">
    {% for obj in bank_form %}
        {% if obj.errors %}
            <div class="alert alert-info">
                <center>
                    <strong>{{ obj.errors }}</strong>
                </center>
            </div>
        {% endif %}
    {% endfor %}
    <center><h2 style="margin-bottom: 30px">New Bank</h2></center>
    <form role="form" class="form-horizontal" action="" method="POST">
        <div class="form_group">
            {% csrf_token %}
            {% for field in bank_form %}
            <div class="row" style="margin-top: 10px">
                <label class="control-label col-sm-4">{{ field.label }} :</label>
                <div class="col-sm-8">
                    {{ field }}
                </div>
                <div class="row">
                    <p class="help-text">{{ field.help_text }}</p>
                </div>
            <div class="row"></div>
            </div>
            {% endfor %}
            <div class="col-sm-offset-6 col-sm-10">
                <button style="margin-top: 10px" type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock middle_area %}